In [7]:
def equation(x,y):
    ans = 3*(x**3) + 4*(x**2) - 3*(x**0.5) + 4*(y**3) - 3*y
    return ans

In [8]:
a = 41
b = -32
value = equation(a,b)
print(value)

82491.7906272877

In [11]:
v = equation(41,-32)
print(v)

82491.7906272877

In [16]:
def gm(name):
    print(f" Hey {name}, Good Morning !! ")

In [17]:
gm("Vinay")

 Hey Vinay, Good Morning !!

In [20]:
print(3,'ab',[3,2,1],{'a':1,'b':2})

3 ab [3, 2, 1] {'a': 1}

In [24]:
print("3,'ab',[3,2,1],{'a':1,'b':2}" )

3,'ab',[3,2,1],{'a':1,'b':2}

In [29]:
name = "Vaishali"
print("Student's name is {}".format(name))

Student's name is Vaishali

In [30]:
print("Student's name is {}".format("Vaishu"))

Student's name is Vaishu

In [32]:
print("Student's name is {}")

Student's name is {}

In [36]:
name = "Vaishali"
roll = 13
to_print = ("Student's name is {} and Roll number is {}".format(name, roll))
print(to_print)

Student's name is Vaishali and Roll number is 13

In [41]:
n = "Sid"
r = 26
print(f"Student's name is {n} and Roll number is {r}")
#f"Student's name is {n} and Roll number is {r}"  #OR 
v = f"Student's name is {n} and Roll number is {r}"
print(v)

Student's name is Sid and Roll number is 26
Student's name is S and Roll number is 26

In [42]:
n = "Sid"
r = 26
print(f"Student's Unique ID is {n[0]}{r}")

Student's Unique ID is S26

In [55]:
def uid(name,roll):
    uiq = name[0] + str(roll)
    return uiq

In [57]:
unid = uid("Vaishali",13)
print(unid)

V13

In [65]:
name = "Vaishali"
roll = 26
unid = uid(name, roll)

print(f"Student's name is {name} and Roll number is {roll} and Unique ID is {unid}")
print(f"Student's name is {name} and Roll number is {roll} and Unique ID is {uid(name,roll)}")
#u can directly use function

Student's name is Vaishali and Roll number is 26 and Unique ID is V26
Student's name is Vaishali and Roll number is 26 and Unique ID is V26

In [64]:
name + str(roll)  #name[0] + str(roll)

'Vaishali26'

# OPERATORS

# Types of Operators
Equality(==)
InEquality(!=)

In [69]:
a = 50
b = 30

In [80]:
a == b + 20

True

In [71]:
a != b

True

In [81]:
a == b

False

In [73]:
a > b

True

In [74]:
a < b

False

In [82]:
a >= b

True

In [76]:
a <= b

False

In [83]:
a == b*5/3

True

In [86]:
a = [50,20]
b = [50,10]
a == b
a > b

True

# LOGICAL OPERATORS

In [101]:
l = ['a', 'b', 'c', 'd']
s = 'abcde'
d = {'a':'aa','b':'bb'}

In [103]:
'a' in l

True

In [104]:
'a' in s

True

In [105]:
'a' in d

True

In [106]:
't' not in s

True

In [109]:
('a' in s) and ('s' in s)

False

In [110]:
('a' in s) and ('b' in s)

True

In [111]:
'bb' in d

False

In [115]:
('a' in l) or ('bb' in l)

True

In [116]:
bool(0)

False

In [118]:
bool(10)

True

In [119]:
bool('abcd')

True

In [123]:
bool([])

False

In [124]:
bool({})

False

In [125]:
bool('')

False

# IF ELSE

In [128]:
n = 4
n%2 == 0

True

In [130]:
n = 10

if n%2 ==0:
    print(f"The Number {n} is Even")
else:
    print(f"The Number {n} is Odd")

The Number 10 is Even

In [149]:
n = int(input("Enter Number "))

if (n%2 == 0) and (n%3 == 0):
        print("Yes")
else:
    print("No")

Enter Number 12
Yes

In [144]:
n = 4

check_even = (n%2 == 0)
check_div_by_3 = (n%3 ==0)

In [145]:
check_even

True

In [146]:
check_div_by_3

False

In [153]:
n = 9

if n%2 == 0:
    if n%3 == 0:
        print("yes")
    else:
        print("no")
else:
    print("no")

no

In [5]:
for i in range(0,10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
a = 1
while a <= 10:
    print(a)
    a = a + 1